/******************************************
 * Variables partial file
 *
 **/

/** COLOURS **/

$outerBG: rgb(238, 207, 161); // This is a light beige
$innerBG: rgb(211, 191, 145); // This is a darker beige
$white: rgb(255, 255, 255); 
$black: black;
$headings: rgb(200, 4, 9); // pillarbox red
$bodyText: rgb(60, 44, 20); // dark brown
$otherText: rgb(107, 79, 37); // light brown
$green: #008800; // dark green for success boxes
